<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" [routerLink]="['/']"></a>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div class="col-lg-5 mx-lg-4">
        <img class="img" src="assets/images/banner.png" width="100%">
      </div>
      <div class="col-lg-6">
        <h1 class="text-bold">WElCOME</h1>
        <h1 class="text-bold">BEST ONLINE CASINO</h1>
        <p>
          Choosing the best online casino may not be easy, but only then can you
          rest assured that you’re getting the finest online entertainment and
          an authentic casino experience. Good online casinos offer a generous
          Welcome Bonus, Free Spins rewards and a selection of the best slot
          games, so let’s find out how to find an online casino that can provide
          an unparalleled range of products and services to suit your needs.
        </p>

        <div class="d-flex flex-column flex-lg-row align-items-center my-5">
          <div>
            <a
              href="assets/res/Luck8.mobileconfig"
              role="button"
              class="btn btn-outline-light mb-4 me-lg-3"
              download
            >
              <i class="fab fa-apple"></i>
              IOS Download
            </a>
          </div>
          <div>
            <a
              href="assets/res/Luck8.apk"
              role="button"
              class="btn btn-outline-light mb-4"
              download
            >
              <i class="fab fa-android"></i>
              Android Download
            </a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</header>
